<footer class="footer light-background">
    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-4 col-md-6 d-flex">
                <img src="assets/img/logo/logo1.png" alt="Logo">
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
               
                <div>
                    <h3>Liên hệ</h3>
                        <div class="mb-2">
                            <i class="bi bi-telephone icon"></i><strong>Số điện thoại:</strong> <span>0123456789</span><br>
                        </div>
                        <div>
                            <i class="fa-regular fa-envelope icon"></i><strong>Email:</strong> <span>myevent@gmail.com</span><br>
                        </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div class="address">
                    <h4>Địa chỉ</h4>
                    <p>Việt Nam</p>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-6">
                <h3>Theo dõi chúng tôi</h3>
                <div class="social-links d-flex">
                    <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Myevent</strong> <span>All Rights Reserved</span></p>
    </div>
</footer>
